html {
    height: 100%;
}




body {
    background-color: black;
    background-image: url(Images/Website-Background-Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    background-color:rgb(255, 255, 255);
    height: 118px;
    text-align: center;
}

nav {
    height: 40px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    margin-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    height: 100px;
}

h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color:rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;

}

nav a {
    text-decoration: none;
    padding-left: 60px;
    padding-right: 60px;
}